<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182282817042-1ifkibadsp8oe5q542166etrk0al1v63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182282817042-1ifkibadsp8oe5q542166etrk0al1v63</string>
	<key>API_KEY</key>
	<string>AIzaSyCiMzf5nhoQck0ucadpqRTYnIcqPyBK0Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>182282817042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anishsomani.psecommerce.demoapp</string>
	<key>PROJECT_ID</key>
	<string>ps-ecommerce-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ps-ecommerce-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182282817042:ios:6b18a56176c80d442792cb</string>
</dict>
</plist>